.venv
*.pyc
__pycache__
*.log
*.env
*.txt
*.md
*.json
*.yaml
*.yml
*.ini
*.lock
*.egg-info
*.dist-info
*.spec
*.egg
*.whl
*.tar.gz
*.zip
*.rar
*.db
*.sqlite
*.sqlite3
*.sqlite3.db
*.sqlite3.db3
*.sqlite3.sql
*.sqlite3.sql.gz
*.sqlite3.sql.zip
*.sqlite3.sql.rar
*.sqlite3.sql.7z


Ai-blockchain
.env